<html>
    <head>
        <title>Welcome to Amin's "Ph.D. Comics" Webscrapper!</title>
    </head>
    <body>
        <p>Hello there!</p>
        <p>Let's retrieve some comics from <b>PHDCOMICS.COM</b>, webscraped using the BeautifulSoup package in Python</p>
        <br>
        <br>
        <form method="post" action="/comicResults">
            <input type="submit" name="submitRandom" value="Obtain 3 random Ph.D. comics"/>
            <br>
            <br>
            <br>
            <p><b>OR</b></p>
            <br>
            <p>Search the Ph.D. comics archive to find at most 3 comics whose titles contain your entered word</p>
            <p>If no comics are found with your entered word in their title, you will obtain 3 random comics</p>
            <input type="text" name="userWord" placeholder="Enter your word"/>
            <input type="submit" name="submitWord" value="Submit"/>
        </form>
    </body>
</html>
